@charset "utf-8";
*{
	margin: 0;
	padding: 0;
	outline: none;
}

html {
	height: 100%;
	padding: 0px;
	margin: 0px;
	}

body {
	width: 100%;
	height: 100%;
	background-color: #e2eed8;
	color: #333;
	font-family: "Segoe UI", Arial, sans-serif;
	font-size: 1em;
	line-height: 1.5;
	background: #d1b48c;
	margin:0;
    padding:0;
    position: relative;
    min-height: 100%;
}

#maket {
	width:100%;
	margin:0 auto;
	min-height: 100%;
}

a {
	color: #4b8bea;
	text-decoration: none;
}

a:hover {
	color: #7fa9e7;
}

a, a:hover {
	-webkit-transition: all.6s ease;
	-moz-transition: all.6s ease;
	-o-transition: all.6s ease;
	-ms-transition: all.6s ease;
	transition: all.6s ease;
}

.clear {
	clear: both;
}

p {
	font-family: Arial, Helvetica, sans-serif; 
    font-size: 18pt;
    text-indent: 20px;
    
}

/* Стили для шапки*/

header {
	width: 98%;
	float: left;
	padding: 1%;
	background-color: #f8f6df;
	border-bottom: 2px solid silver;
	margin-bottom: 50px;
	height: 40px;
	display: block;
}

header #logo {
	width: 35%;
	float: left;
}

header #logo a{
	color: #656565;
	font-size: 1.5em;
	font-family: TeX Gyre , sans-serif;
}

header #logo span{
	color: #774717;
	font-size: 1.7em;
}

header #workExperience {
	width: 55%;
	float: left;
}

header #workExperience div {
	float: left;
	margin-right: 20%;
	padding: 10px;
	background-color: #774717;
	border-radius: 20px;
	color: #ffffff;
}

header #workExperience div:hover {
	background-color: #d1b48c;
}

/*Стили для основной части*/

 #wrapper {
	width: 80%;
	float: left;
	margin-left:10%;
	padding-bottom: 30px;
}

#wrapper img {
	border-radius:200px;
	float:left; 
    margin: 7px 7px 7px 0;
   }

#education {
	width: 80%;
	float: left;
	margin-left:10%;
	border-radius:200px;
}

li {
	width: 100%;
	font-size: 1.4em;
	line-height: 1.5;
}
/*Стили для подвала*/

footer {
	width: 98%;
	float: left;
	background-color: #f8f6df;
	padding: 1%;
	border-top: 2px solid silver;
	margin-top: 10px;
}

footer #social {
	float: left;
	width: 50%;

}

footer #social img{
	width: 50px;
	height: 50px;
	float: left;
	margin-right: 5px;
	border-radius:25px;
}

footer #rights {
	width: 60%;
	float: right;
	text-align: right;
	font-size: 1em;